.locationList {
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}
.location {
    padding: 0 40px 40px 40px;
    flex-basis: 30%;
}
.location__name {
    font-size: 24px;
}