@import url(./fishes.css);
@import url(./quotes.css);
@import url(./locations.css);

img {
    height: 300px;
    width: 350px;
}
/* * {
    border: 1px solid black;
} */
body {
    background-color: coral;
    font-family: 'Montserrat', sans-serif;
}
.main {
    display: flex;
    flex-wrap: nowrap;
}
.left {
    flex: 3;
    padding: 0 15px;
}
.right {
    flex: 1;
    background-color:rgb(250, 166, 135);
    padding: 10px;
    height: fit-content;
}
.title {
    margin-bottom: 30px;
    border-bottom: 2px solid black;
    padding: 0 15px;
}
.subtitle {
    border-bottom: solid 2px black;
}
